@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidas Ovejas</h1>
    <p> <a href="https://www.grupolovet.com/blogs/noticias/consejos-para-el-cuidado-y-alimentacion-de-los-ovinos">Cosejos para alimentacion y cuidado</a>.</p>
</div>
