@page
@model ovino.App.frontend.Pages.CuidadoOvinoModel
@{

}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> <!--manejara los estilos-->
<h1>Cuidado Ovino</h1>

<table class ="tabla"> 
    <tr>
        <td>
            <form>
                <label for="id">ID.............:</label>
                <input type="text" name="id"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>
        <td> 
            <form>
                <label for="nit">NIT..........:</label>
                <input type="text" name="nit"/>
                <button type="submit">Guardar</button>
            </form>
        
        </td>
    </tr>
    <tr>
        <td> 
            <form>
                <label for="nombre">Nombre:</label>
                <input type="text" name="Nombre"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>  
    


</table>
