@page
@model ovino.App.frontend.Pages.HistoriaClinicaModel
@{
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> <!--manejara los estilos-->
<h1>Historia Clinica</h1>
<!--<title> bienvenidos a colombia</title>-->

<table class ="tabla"> 
    <tr> 
        <td> 
            <form>
                <label for="id">ID...................................:</label>
                <input type="text" name="id"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr> 
        <td> 
            <form>
                <label for="historia">Inicio Historia............:</label>
                <input type="text" name="historia"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr> 
        <td> 
            <form>
                <label for="dueno">Nombre Dueño........:</label>
                <input type="text" name="dueno"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>   
        <td> 
            <form>
                <label for="NVeterinario">Nombre Veterinario:</label>
                <input type="text" name="NVeterinario"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>
        <td> 
            <form>
                <label for="direccion">Direccion.....................:</label>
                <input type="text" name="direccion"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
   
    
</table>