@page
@model ovino.App.frontend.Pages.MedicoVetModel
@{
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> <!--manejara los estilos-->
<h1>Datos del Veterinario</h1>
<!--<title> bienvenidos a colombia</title>-->

<table class ="tabla"> 
    <tr> 
        <td>
            <form>
                <label for="id">ID...................:</label>
                <input type="text" name="id"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr> 
        <td> 
            <form>
                <label for="nombre">Nombre.......:</label>
                <input type="text" name="nombre"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr> 
        <td> 
            <form>
                <label for="apellido">Apellido.......:</label>
                <input type="text" name="apellido"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>   
        <td> 
            <form>
                <label for="documento">Documento:</label>
                <input type="text" name="documento"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>
        <td> 
            <form>
                <label for="direccion">Direccion.....:</label>
                <input type="text" name="direccion"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>
         <td> 
            <form>
                <label for="telefono"> Telefono.......:</label>
                <input type="text" name="telefono"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>    
        <td> 
            <form>
                <label for="Tprofesional">T profesinal:</label>
                <input type="text" name="Tprofesional"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>  
    
</table>