@page
@model ovino.App.frontend.Pages.OvejasModel
@{
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> <!--manejara los estilos-->
<h1>Registro Ovinos</h1>
<!--<title> bienvenidos a colombia</title>-->

<table class ="tabla"> 
    <tr> 
        <td>
            <form>
                <label for="id">ID...................................:</label>
                <input type="text" name="id"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr> 
        <td> 
            <form>
                <label for="nombre">Nombre.......................:</label>
                <input type="text" name="nombre"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr> 
        <td> 
            <form>
                <label for="color">Color.............................:</label>
                <input type="text" name="color"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>   
        <td> 
            <form>
                <label for="especie">Especie.........................:</label>
                <input type="text" name="especie"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>
        <td> 
            <form>
                <label for="raza">Raza...............................:</label>
                <input type="text" name="raza"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>
         <td> 
            <form>
                <label for="NVeterinairo">Nombre Veterinairo:</label>
                <input type="text" name="NVeterinario"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>    
        <td> 
            <form>
                <label for="DOvion"> Dueño Ovino.............:</label>
                <input type="text" name="DOvino"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>  
    
</table>