@page
@model ovino.App.frontend.Pages.VisitaDomiciliariaModel
@{
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> <!--manejara los estilos-->
<h1>Visita Domiciliaria</h1>
<!--<title> bienvenidos a colombia</title>-->

<table class ="tabla"> 
    <tr> 
        <td>    
            <form>
                <label for="id">ID..............................:</label>
                <input type="text" name="id"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr> 
        <td> 
            <form>
                <label for="temperatura">Temperatura.........:</label>
                <input type="text" name="temperatura"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr> 
        <td> 
            <form>
                <label for="FRespiratoria">Fr Respiratoria.....:</label>
                <input type="text" name="FRespiratoria"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>   
        <td> 
            <form>
                <label for="FCardiaca">Fr Cardiaca............:</label>
                <input type="text" name="FCardiaca"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>
        <td> 
            <form>
                <label for="EAnimo">Estado de Animo:</label>
                <input type="text" name="EAnimo"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>
         <td> 
            <form>
                <label for="Fvisita"> Fecha Visita Vet..:</label>
                <input type="text" name="FVisita"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    <tr>    
        <td> 
            <form>
                <label for="DVeterinario">Doc Veterianario:</label>
                <input type="text" name="DVeterinario"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr> 
    <tr>    
        <td> 
            <form>
                <label for="FVeterinaria">Form Veterinaria:</label>
                <input type="text" name="FVeterinaria"/>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>  
    
</table>